.upcoming-event-container{
  padding:10px
}
.upcoming-event{
    padding-left:10px;
    padding-right:10px;
    
  h3{
    color: #64B7EF;
  }

  .event-info{
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    .read-more{
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: white;
    }
  }

  .event-info{
  }

  border:solid 1px #999;
  height: 300px; 
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  overflow: hidden;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}